.ChatWindow {
  width: 400px;
  height: 400px;

  .header {
    font-size: 150%;
    background-color: #ddd;
    height: 30px;
    line-height: 30px;
  }
  .window {
    text-align: left;
    box-sizing: border-box;
    padding: 2px 4px;
    overflow: auto;
    height: 100%;

    & > div{
      padding: 2px 0;
      color: #444;

      &.join{
        color: #999;
        font-style: italic;
      }

      .name{
        font-weight: bold;
        font-style: italic;
        color: #444;
        text-shadow: 0px 0px 2px orange;
      }
    }
  }
}
