.TwitchPage{
  height: 100%;
  width: 950px;
  margin: 0 auto;
  background-color: #ddd;
  color: #000;

  & > div{
    float: left;
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
  }

  &:after{
    content: '';
    display: block;
    clear: both;
  }

  & > div:nth-child(1){
    width: 300px;
    background-color: #ccc;
  }
  & > div:nth-child(2){
    width: 400px;
    background-color: #ddd;
  }
  & > div:nth-child(3){
    width: 250px;
    background-color: #eee;
  }

  @media (max-width: 1200px){
    & > div{
      width: 100%;
      max-width: 400px;
      float: left;
      height: 100%;
    }
  }



  .message,
  .member{
    padding: 3px 2px;
    animation: newItemAnimation 1s linear both 60;
  }

  @keyframes newItemAnimation{
    0%{ background-color: transparent; }
    50%{ background-color: #ad9; }
    100%{ background-color: transparent; }
  }

}