.info{
    margin: 0 auto;
    font-size: 24px;
    color: #666;
    background-color: #eee;
}

.info td{
    padding: 10px;
}
.info td:first-child{
    text-align: right;
    color: #00B7FF;
}
.info td:first-child:after{
    content: ':';
}

.info td:last-child{
    text-align: left;
}

.avatar{
    width: 300px;
    height: 200px;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.homeLink{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.homeLink:before,
.homeLink:after{
    content: '';
    position: absolute;
    bottom:50%;
    left:50%;
    width:15px;
    border-bottom:1px solid red;
    transform-origin: 0 50%;
}
.homeLink:before{
    transform: rotate(-45deg) translateX(-50%);
}
.homeLink:after{
    transform: rotate(45deg) translateX(-50%);
}